.stars {
    position: absolute;
    width: 100%;
   
}  

.animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }
  
  @keyframes fade-in {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }
  /* src/components/WhatIOffer/Offer.css */
section {
    position: relative;
  }
  
  @media (max-width: 1024px) {
    .slick-slide {
      padding: 0 15px;
    }
  }
  
  @media (max-width: 640px) {
    .slick-slide {
      padding: 0 10px;
    }
  
    .text-center h2 {
      font-size: 2.5rem;
    }
  
    .text-center p {
      font-size: 1rem;
    }
  
    .relative.flex.flex-col.items-center.justify-center.text-center.bg-gray-800.rounded-3xl.shadow-xl.p-8.animate-float {
      height: auto;
    }
  }
  