.stars {
    position: absolute;
    width: 100%;
   
}  

.animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }
  
  @keyframes fade-in {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
  }
  
  @keyframes float {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }
  
  .animate-float {
    animation: float 3s ease-in-out infinite;
  }